<nav class="navbar navbar-expand-md navbar-top">
  asdd
</nav>

  <nav class="navbar navbar-expand-md navbar-dark mb-4 navbar-main">
    <a class="navbar-brand" href="#">Top navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/popup">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>

          <div class="basket-container">
            <a href="#" class="btn btn-warning cash">Корзина<span id="basket_total_amount"></span><span id="basket_total_nmb">
                {% if products_total_nmb %}
                    ({{ products_total_nmb }})
                {% else %}
                    (0)
                {% endif %}
            </span></a>
            <div class="basket-items">
              <ul>
                {% for product_in_basket in products_in_basket %}
                    <li>
                      {{ product_in_basket.product.name }}, {{product_in_basket.nmb}} шт.
                      по {{product_in_basket.price_per_item}} грн.
                      <a class="delete-item" href="">x</a>
                    </li>
                {% endfor %}
              </ul>
            </div>
          </div>

      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
