{% extends 'base.html' %}
{% load static %}
{% block title %}Колесо{% endblock %}

{% block content %}
<div class="container">


  <div class="section-top">
    <img src="{% static 'img/bg001.jpg' %}" >
  </div>
  <div class="section">
    <div class="container">
      <div class="row">

        {% for prod_img in products_images %}
            <div class="col-3">
                <div class="product-item">
                    <div class="">
                        <img src="{{ prod_img.image }}" class="img-responsive">
                    </div>
                    <h4>{{ prod_img.product.name }}</h4>
                    <p>
                        {{ prod_img.product.description|truncatechars_html:70 }}
                    </p>
                    <div class="">
                        {{ prod_img.product.price }} UAH
                    </div>
                    <div class="add-to-card-btn">
                        <button type="button" class="btn btn-success">
                            Добавить в корзину
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}

      </div>
    </div>
  </div>
 </div>
{% endblock %}
