{% extends 'base.html' %}
{% load static %}
{% block title %}Колесо{% endblock %}

{% block content %}
<div class="container">
  <div class="section-top">
    <img src="{% static 'img/bg001.jpg' %}" class="img-fluid" alt="Responsive image">
  </div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-3">
          123
        </div>
        <div class="col-3">
          123
        </div>
        <div class="col-3">
          123
        </div>
        <div class="col-3">
          123
        </div>
      </div>
    </div>
  </div>
  <div class="section-bottom">
      <img src="{% static 'img/bg001.jpg' %}" class="img-fluid" alt="Responsive image">
  </div>
  </div>
{% endblock %}
