{% extends 'base.html' %}
{% load static %}
{% block title %}Колесо{% endblock %}

{% block content %}



  <div class="section-top">
    <img src="{% static 'img/bg001.jpg' %}" height="400px">
  </div>
  <div class="section section1">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="text-center">
              Новые поступления
          </h1>
        </div>
        {% for prod_img in products_images %}
            <div class="col-3">
                <div class="product-item">
                    <div class="img-icon">
                        <img src="{{ prod_img.image.url }}" width="150px" height="180px" class="imp-item">
                    </div>

<!--                    {% if prod_img.product.discount %}
                    <div class="discount-container">
                        <span> 10% </span>
                    </div>
                    {% endif %}
-->
                    <h4>{{ prod_img.product.name }}</h4>
                    <p>
                        {{ prod_img.product.description|truncatechars_html:60 }}
                    </p>
                    <div>
                        {{ prod_img.product.price }} UAH
                    </div>
                    <div class="add-to-card-btn">
                        <button type="button" class="btn btn-success">
                            Добавить в корзину
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}

      </div>
    </div>
  </div>

  <div class="section section2">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="text-center">
              Шины
          </h1>
        </div>
        {% for prod_img in products_images_shi %}
            <div class="col-3">
                <div class="product-item">
                    <div class="img-icon">
                        <img src="{{ prod_img.image.url }}" width="150px" height="180px" class="imp-item">
                    </div>
                                            <h4>{{ prod_img.product.name }}</h4>
                    <p>
                        {{ prod_img.product.description|truncatechars_html:60 }}
                    </p>
                    <div>
                        {{ prod_img.product.price }} UAH
                    </div>
                    <div class="add-to-card-btn">
                        <button type="button" class="btn btn-success">
                            Добавить в корзину
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}

      </div>
    </div>
  </div>

  <div class="section section3">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="text-center">
              Автозапчасти
          </h1>
        </div>
        {% for prod_img in products_images_zap %}
            <div class="col-3">
                <div class="product-item">
                    <div class="img-icon">
                        <img src="{{ prod_img.image.url }}" width="150px" height="180px" class="imp-item">
                    </div>
                    <h4>{{ prod_img.product.name }}</h4>
                    <p>
                        {{ prod_img.product.description|truncatechars_html:60 }}
                    </p>
                    <div>
                        {{ prod_img.product.price }} UAH
                    </div>
                    <div class="add-to-card-btn">
                        <button type="button" class="btn btn-success">
                            Добавить в корзину
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}

      </div>
    </div>
  </div>
{% endblock %}
