<div class="col-3">
    <div class="product-item">
        <div class="img-icon">
            <a href="/product/{{prod_img.product.id}}">
            <img src="{{ prod_img.image.url }}" width="150px" height="180px" class="imp-item">
            </a>
        </div>

        {% if prod_img.product.discount %}
        <div class="discount-container">
            <span> {{prod_img.product.discount}} %</span>
        </div>
        {% endif %}

        <h4>{{ prod_img.product.name }}</h4>
        <p>
            {{ prod_img.product.description|truncatechars_html:60 }}
        </p>
        <div>
            {{ prod_img.product.price }} UAH
        </div>
        <div class="add-to-card-btn">
            <button type="button" class="btn btn-success">
                Добавить в корзину
            </button>
        </div>
    </div>
</div>
